<!DOCTYPE HTML>
<!--
  Visualize by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html ng-app="myApp">
  <head>
    <title>My College Life.</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <!-- <link rel="stylesheet" href="http://templated.co/items/demos/visualize/assets/css/main.css"> -->
  </head>
  <body>

    <!-- Wrapper -->
      <div id="wrapper" ng-controller="mainController as page">

        <!-- Header -->
          <header id="header">
            <span class="avatar"><img src="images/MCL/00.jpg" alt="" /></span>
            <p ng-repeat="introduction in page.introductions | limitTo : 2 : 0">{{introduction}}</p>
            <div ng-repeat="intro in page.intros" ng-bind-html-unsafe="intro.content">{{intro.content}}</div>
            <ul class="icons">
              <li ng-repeat="social in page.socialItem"><a href="{{social.url}}" class="icon style2 fa-{{social.name}}"></a></li>
            </ul>
          </header>

        <!-- Main -->
          <section id="main">
            <!-- Thumbnails -->
              <section class="thumbnails">
                <div id="{{row.id}}" ng-repeat="row in page.rows">
                  <a href="{{ activity.link }}" ng-repeat="activity in page.filter(page.activities, $index)">
                    <img src="{{ activity.url }}" alt="" />
                    <p>{{activity.text}}</p>
                  </a>
                </div>
              </section>
          </section>

        <!-- Footer -->
          <footer id="footer">
            <p ng-repeat="introduction in page.introductions | limitTo : 1 : 2">&copy; {{introduction}}</p>
          </footer>

      </div>

    <!-- Scripts -->
      <script src="assets/js/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
      <script src="assets/js/jquery.poptrox.min.js"></script>
      <script src="assets/js/skel.min.js"></script>
      <script src="assets/js/main.js"></script>
      <script>
        angular.module('myApp', [])
          .controller('mainController', function() {
            var vm = this;

            vm.intros = [{
              content: '<h1>This is My College Life, a school life photos by 陳敬彥.</h1>',
              tag: "h1"
            },{
              content: '<p>It is released for free under the Creative Commons License.</p>',
              tag: "p"
            }];

            vm.introductions = ['This is My College Life, a school life photos by 陳敬彥.', 'It is released for free under the Creative Commons License.', 'By Jing-Yan Chen.', ''  
            ];

            vm.socialItem = [{
              name: 'twitter',
              url: "https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xap1/t31.0-8/1524121_674106559277992_1562218070_o.jpg"
            },{
              name: 'facebook',
              url: "https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xap1/t31.0-8/1524121_674106559277992_1562218070_o.jpg"
            },{
              name: 'instagram',
              url: "https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xap1/t31.0-8/1524121_674106559277992_1562218070_o.jpg"
            },{
              name: '500px',
              url: "https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xap1/t31.0-8/1524121_674106559277992_1562218070_o.jpg"
            },{
              name: 'envelope-o',
              url: "https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xap1/t31.0-8/1524121_674106559277992_1562218070_o.jpg"
            }];

            vm.activities = [
              {
                link:"https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xap1/t31.0-8/1524121_674106559277992_1562218070_o.jpg",
                url: "https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xap1/t31.0-8/1524121_674106559277992_1562218070_o.jpg",
                text:'期末餐會-誕疼的資味', 
                done:true
              },
              {
                link:"https://scontent-tpe1-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/1513260_830769900271456_815218928_n.jpg?oh=255fd0d8a7bbfde1c081265f4019fb70&oe=5780F4BF",
                url: "https://scontent-tpe1-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/1513260_830769900271456_815218928_n.jpg?oh=255fd0d8a7bbfde1c081265f4019fb70&oe=5780F4BF",
                text:'聖誕趴-螢色狂想曲之聖誕夜未眠', 
                done:true
              },
              {
                link:"images/MCL/03.jpg",
                url: "images/MCL/03.jpg",
                text:'大苑子廣告徵才比賽-愛分享', 
                done:true
              },
              {
                link:"images/MCL/04.jpg",
                url: "images/MCL/04.jpg",
                text:'校慶擺攤-鐵資路烤肉', 
                done:true
              },
              {
                link:"images/MCL/05.jpg",
                url: "images/MCL/05.jpg",
                text:'期末餐會-回憶資路', 
                done:true
              },
              {
                link:"images/MCL/06.jpg",
                url: "images/MCL/06.jpg",
                text:'第一屆創意啦啦隊', 
                done:true
              },
              {
                link:"images/MCL/07.jpg",
                url: "images/MCL/07.jpg",
                text:'第二屆創意啦啦隊', 
                done:true
              },
              {
                link:"images/MCL/08.jpg",
                url: "images/MCL/08.jpg",
                text:'C.B.D三系聯合幹部訓練營', 
                done:true
              },
              {
                link:"images/MCL/09.jpg",
                url: "images/MCL/09.jpg",
                text:'迎新舞蹈大賽-資企管炎', 
                done:true
              },
              {
                link:"images/MCL/10.jpg",
                url: "images/MCL/10.jpg",
                text:'迎新-發設企工波', 
                done:true
              },
              {
                link:"images/MCL/11.jpg",
                url: "images/MCL/11.jpg",
                text:'系週', 
                done:true
              },
              {
                link:"images/MCL/12.jpg",
                url: "images/MCL/12.jpg",
                text:'迎新舞蹈大賽-發設企工波', 
                done:true
              }
            ];
            vm.rows = [{
              id: "column1"
            },{
              id: "column2"
            },{
              id: "column3"
            }];
            vm.filter = function (data, num) {
              var result = [];
              data.map(function(value,index) {
                if (!((index+num)%vm.rows.length)) {result.push(value)}
              });
              return result
            }

          });
      </script>

  </body>
</html>